.hamburger {
  display: block;
  padding-right: 20px;
}
#hamburgerBtn {
  background-color: transparent;
  border: none;
  color: rgba(255, 255, 255, 0.77);
}
@media (min-width: 800px) {
  .hamburger {
    display: none;
  }
}

.navbarToggler {
  position: aboslute;
  cursor: pointer;
  right: 20px;
  top: 10px;
  padding: .25rem .75rem;
  font-size: 1.25rem;
  line-height: 1;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: .25rem;
}